streamlit
langchain-core
langchain-classic
langchain-community
langchain-google-genai
langchain-chroma
langchain-huggingface
sentence-transformers
chromadb
flashrank
pypdf
docx2txt
unstructured
markdown
python-dotenv
SQLAlchemy
watchdog